.content-container {
    height: 100%;
    width: 100%;

    .home-appear,
    .home-enter {
        opacity: 0;
    }

    .home-appear-active,
    .home-enter-active {
        opacity: 1;
        transition: opacity 1s ease;
    }

    /* 离开动画 */
    .home-exit {
        opacity: 1;
    }

    .home-exit-active {
        opacity: 0;
        transition: opacity 1s ease;
    }

    .countdown-container {
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rebeccapurple;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        .count {
            font-size: 20rem;
        }
    }

    .detail-container {
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        flex-direction: column;
        left: 0;
        top: 0;
        background: #FF7500;
        color: white;
        font-size: 2rem;

        .intensity-content {
            height: calc(60% - 3rem);
            padding: 3rem;
            line-height: 5rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 65%;
                height: 100%;
                right: -10%;
                top: 0;
                z-index: -1;
                background: radial-gradient(circle at center,
                        transparent 0, transparent 10%,
                        #FF9348 11%, #FF9348 20%,
                        transparent 21%, transparent 30%,
                        #FF8528 31%, #FF8528 40%,
                        transparent 41%, transparent 50%,
                        #FE7A0D 51%, #FE7A0D 60%,
                        transparent 61%, transparent 70%,
                        #FF7707 71%, #FF7707 80%,
                        transparent 81%, transparent 100%);
            }
        }

        .intensity-info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40%;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba($color: #fff, $alpha: .06);
                left: 0;
                top: 0
            }

            .item {
                height: 70%;
                flex: 1;
                text-align: center;
                border-left: 1px solid #FE9C3B;
                line-height: 5rem;
            }
        }
    }
}