.calendar-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.countdown-container {
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;

    .ant-card {
        margin-bottom: 20px;
        position: relative;
        height: calc(50vh - 60px);

        &::after {
            display: block;
            position: absolute;
            width: 100px;
            height: 30px;
            top: 0;
            left: 0;
            line-height: 30px;
            text-align: center;
            color: white;
            border-radius: 15px;
            transform: rotate(325deg) translateX(-20px) translateY(-10px);
        }

        &:nth-of-type(1) {
            &::after {
                content: '倒数日';
                background: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
            }
        }

        &:nth-of-type(2) {
            &::after {
                content: '正数日';
                background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
            }
        }

        .ant-card-body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 0px;
            }
        }

        .countdown-box {
            height: 200px;
            min-width: 200px;
            flex: 1;
            background: linear-gradient(to bottom left, #74ebd5, #acb6e5);
            text-align: center;
            border-radius: 15px;
            color: white;
            font-size: 20px;
            font-weight: 700;
            margin: 20px;

            p {
                margin: 0;

                &.name {
                    margin-top: 20px;
                }
            }

            .countdown {
                strong {
                    font-size: 60px;
                }
            }

            &.default {
                color: #ada996;
                background: linear-gradient(to bottom left, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
            }

            &.success {
                background: linear-gradient(to top right, #00b09b, #96c93d);
            }

            &.warning {
                background: linear-gradient(to top right, #eacda3, #d6ae7b)
            }

            &.error {
                background: linear-gradient(to bottom right, #ffafbd, #ffc3a0)
            }


        }
    }




}